
.container {
    max-width: 1000px;
    margin: 50px auto;
}
.author-list{
    margin-bottom: 10px;
    padding: 0;
}
.author-list li{
    list-style-type: none;
    padding: 0;
    font-size: small;
}
.author-list li :hover{
    background-color: rgba(128, 128, 128, 0.523);
}
.author-list img{
    width: 30px;
    margin: 2px 10px;
}

.genre-container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.genre-wrapper {
    flex-grow: 1;
    overflow-x: auto;
    white-space: nowrap;
}
/* Webkit 브라우저 (Chrome, Safari 등) */
.genre-wrapper::-webkit-scrollbar {
    height: 0; /* 스크롤바 너비 */
}
.genre-wrapper a{
    font-size: small;
}
.genre-container .btn {
    display: inline-block;
    margin-right: 5px;
}

.scroll-btn {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    cursor: pointer;
    z-index: 10;
}

.book-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.book-item img {
    width: 80px;
    object-fit: cover;
    margin-right: 15px;
    
}

.genre-container {
    margin-bottom: 20px;
}