*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    /* border: 1px solid navy; */
}
img{
    cursor: pointer;
}
body{
    margin: 0; /* 기본 마진 제거 */
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none; /*글머리 기호 없애기*/
    padding: 0;/*글머리 기호 자리 공백 없애기*/
}
.main-container{
    height: 1280px;
    width: 1500px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: auto;
    margin-right: auto;
}
.main-button{
    display: inline-block; 
    padding: 8px 16px; 
    background-color:#2679ff; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 4px;
    border: none; 
    cursor: pointer; 
    margin-left: 10px;
    font-size: 15px;
}

.white-button{
    display: inline-block; 
    padding: 5px 10px; 
    background-color:white; 
    color: rgb(74, 74, 74); 
    text-decoration: none; 
    border-radius: 4px;
    border: 1px solid gray; 
    cursor: pointer;
    font-size: 10px;
}