@charset "UTF-8";
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'BMHANNAPro'; /* 원하는 폰트 이름을 지정 */
    src: url('/resources/font/BMHANNAPro.ttf') format('truetype'); /* 폰트 파일 경로 */
}

body {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label.form-label {
    margin-bottom: 0; /* 라벨과 입력 칸 사이의 공간을 원하는 대로 조절 */
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}
/*.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}*/
header{
    font-size: 30px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 20px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
/*.field input:focus{
    border-bottom-width: 2px;
}*/

.field button{
    color: #fff;
    background-color: #2679ff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #43a6ff;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin-top:35px;
    margin-bottom:15px;
    background-color: #d4d4d4;
}
.line::before{
    content: 'or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*a.kakao{
    color: #fff;
    background-color: #4267b2;
}
a.kakao .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
a.kakao span{
	position: relative;
    top: -5px; !* 글자를 위로 5px 이동 *!
}*/

a.kakao {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    position: relative; /* 추가 */
}

/* style.css */
.kakao-img {
    height: 52px;
    width: 370px;
    border: none;
    transition: filter 0.3s; /* filter에 transition 적용 */
}

.kakao-img:hover {
    filter: brightness(0.9); /* 마우스를 올렸을 때 밝기 증가 */
}

img.google-img{
    position: absolute;
    top: 30%;
    left: 15px;
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
    transition: filter 0.3s;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
    position: relative;
    padding-left:25px;
}
a.google:hover {
    border: 2px solid #CACACA; /* 테두리 색 변경 */
}

/* 미디어 쿼리를 사용하여 작은 화면에서의 반응형 스타일 적용 (옵션) */
@media screen and (max-width: 400px) {
    .kakao-img {
        height: 30px; /* 작은 화면에서는 더 작게 */
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
}

#error-message {
  text-align: center;
  font-size: 14px;
  color: #ff1f1f;
}

.bold{
    font-weight: bold;
}